<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section  id="select student passed subjects">
       
    <form class="AddSabjectForm" action="/sign_in/regisetr_tourguide" method="post">
    
    <br>
    <div>
 
        <h2 class="titleCreateAccouuntD" style="color: blue;font-size: 60px;">Tourguide page</h2>
        <a href="/sign_in/regisetr_tourist"style="font-size: 30px;"> Tourist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/sign_in/regisetr_tourguide"style="font-size: 30px;">Tourguide</a><br><br><br><br><br><br>
       <div><input name="fname" type="text" placeholder="  Firstname"></div><br>
       <div><input name="lname" type="text" placeholder="  lastname"></div><br> 
      <div><input name="username" type="text" placeholder="  Username"></div><br>
        <div><input name="password" type="password" placeholder="  Passwoed" ></div><br>
        <div><input name="phone" type="text" placeholder="  phone" ></div><br>
        <div><input name="governorate" type="text" placeholder="  governorate" ></div><br>
        <label style="color: blue; font-size: xx-large;" > Gender:</label><br>
        <div><select  name="gender"><br>
          <option value="male">male</option>
          <option value="female">female</option>

        </select></div><br><br><br>
        
        <input type="submit" class="btn-btn-success" value="submit">
</div>
      </form>
     </section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


</body>
</html>
    
