*{
    margin: 0;
    padding: 0}
    body{ 
    overflow-x: hidden;
    background: white;
}
#bg-div{
    margin: 0;
    margin-top:100px;
    margin-bottom:100px
}
#border-btm{ 
    padding-bottom: 20px;
    margin-bottom: 0px;
    box-shadow: 0px 35px 2px -35px lightgray
}
#test{
    margin-top: 0px;
    margin-bottom: 40px;
    border: 1px solid #FFE082;
    border-radius: 0.25rem;
    width: 60px;
    height: 30px;
    background-color: #FFECB3
}
.active1{
    color: #279FCB !important;
    font-weight: bold
}
.bar4{
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0
}
.list-group .tabs{
    color: #000000
}#menu-toggle{
    height: 50px
}

.btn-success {
    color: #fff;
    background-color: #279FCB;
    border-color: #279FCB;
}
#new-label{
    padding: 2px;
    font-size: 10px;
    font-weight: bold;
    background-color: red;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 5px
}
#sidebar-wrapper{
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out
}
#sidebar-wrapper .sidebar-heading{
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem
}#sidebar-wrapper .list-group{
    width: 15rem
}
#page-content-wrapper{
    min-width: 100vw;
    padding-left: 20px;
    padding-right: 20px
}
#wrapper.toggled #sidebar-wrapper{
    margin-left: 0
}
.list-group-item.active{
    z-index: 2;
    color: #fff;
    background-color: #fff !important;
    border-color: #fff !important
}
@media (min-width: 768px){
    #sidebar-wrapper{margin-left: 0}
    #page-content-wrapper{min-width: 0;width: 100%}
    #wrapper.toggled #sidebar-wrapper{margin-left: -15rem;display: none}}
    .card0{margin-top: 10px;margin-bottom: 10px}
    .top-highlight{
        color: #279FCB;
        font-weight: bold;
        font-size: 20px
    }
        .form-card input, .form-card textarea{
            padding: 10px 15px 5px 15px;
            border: none;
            border: 1px solid lightgrey;
            border-radius: 6px;
            margin-bottom: 25px;
            margin-top: 2px;
            width: 100%;
            box-sizing: border-box;
            font-family: arial;
            color: #2C3E50;
            font-size: 14px;
            letter-spacing: 1px
        }
        .form-card input:focus, .form-card textarea:focus{
            -moz-box-shadow: 0px 0px 0px 1.5px skyblue !important;
            -webkit-box-shadow: 0px 0px 0px 1.5px skyblue !important;
            box-shadow: 0px 0px 0px 1.5px skyblue !important;
            font-weight: bold;border: 1px solid skyblue;
            outline-width: 0
        }
        /* pay button */
        input.btn-success{
            height: 50px;
            color: #ffffff;
            opacity: 0.9;
            background-color: #279FCB ;
            border-color: #279FCB ;
        }
        #below-btn a{
            font-weight: bold;
            color: #000000
        }
        .input-group{
            position:relative;
            width:100%;
            overflow:hidden
        }
        .input-group input{
            position:relative;
            height:90px;
            margin-left: 1px;
            margin-right: 1px;
            border-radius:6px;
            padding-top: 30px;
            padding-left: 25px
        }
        .input-group label{
            position:absolute;
            height: 24px;
            background: none;
            border-radius: 6px;
            line-height: 48px;
            font-size: 15px;
            color: gray;
            width:100%;
            font-weight:100;
            padding-left: 25px
        }
        input:focus + label{
            color: #1E88E5
        }
        #qr{
            margin-bottom: 150px;
            margin-top: 50px
        }




        .flip-card {
            background-color: transparent;
            width: 240px;
            height: 154px;
            perspective: 1000px;
            color: white;
           
          }

          .parent-container {
            display: flex;
            justify-content: center;
            align-items: center;
           margin-bottom: 40px;
           margin-top: 30px;
        }
          
          .heading_8264 {
            position: absolute;
            letter-spacing: .2em;
            font-size: 0.5em;
            top: 2em;
            left: 18.6em;
          }
          
          .logocard {
            position: absolute;
            top: 6.8em;
            left: 11.7em;
          }
          
          .chip {
            position: absolute;
            top: 2.3em;
            left: 1.5em;
          }
          
          .contactless {
            position: absolute;
            top: 3.5em;
            left: 12.4em;
          }
          
          .numbercard {
            position: absolute;
            font-weight: bold;
            font-size: .6em;
            top: 8.3em;
            left: 1.6em;
          }
          
          .valid_thru {
            position: absolute;
            font-weight: bold;
            top: 635.8em;
            font-size: .01em;
            left: 140.3em;
          }
          
          .date_8264 {
            position: absolute;
            font-weight: bold;
            font-size: 0.5em;
            top: 13.6em;
            left: 3.2em;
          }
          
          .name {
            position: absolute;
            font-weight: bold;
            font-size: 0.5em;
            top: 16.1em;
            left: 2em;
          }
          
          .strip {
            position: absolute;
            background-color: black;
            width: 15em;
            height: 1.5em;
            top: 2.4em;
            background: repeating-linear-gradient(
              45deg,
              #303030,
              #303030 10px,
              #202020 10px,
              #202020 20px
            );
          }
          
          .mstrip {
            position: absolute;
            background-color: rgb(255, 255, 255);
            width: 8em;
            height: 0.8em;
            top: 5em;
            left: .8em;
            border-radius: 2.5px;
          }
          
          .sstrip {
            position: absolute;
            background-color: rgb(255, 255, 255);
            width: 4.1em;
            height: 0.8em;
            top: 5em;
            left: 10em;
            border-radius: 2.5px;
          }
          
          .code {
            font-weight: bold;
            text-align: center;
            margin: .2em;
            color: black;
          }
          
          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
          }
          
          .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
          }
          
          .flip-card-front, .flip-card-back {
            box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 1rem;
          }
          
          .flip-card-front {
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
            background-color: #171717;
          }
          
          .flip-card-back {
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
            background-color: #171717;
            transform: rotateY(180deg);
          }